html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f6f6f6 !important;
}

a {
	color: #5f27cd;
}

.navbar {
	height: 80px;
	z-index: 1;
}

.navbar, .navbar-item, .navbar-burger, .control {
	height: 80px;
	z-index: 1;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover, .navbar-end a.navbar-item.is-active {
	background: none !important;
}

.is-white {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
	-webkit-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.is-gray {
	background: #f6f6f6 !important;
}

.is-purple {
	background: #5f27cd !important;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

.light-logo {
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #5f27cd;
}

.bold-logo {
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	color: #5f27cd;
}

.hash-icon {
	font-size: 24px;
	color: #5f27cd;
}

.search-body {
	margin-top: 25vh;
	display: flex;
}

.load-body {
	min-height: 40vh;
	display: flex;
}

.tabs span {
	color: #111;
	font-size: 16px;
	font-weight: 600;
	padding-top: -13px !important;
	border-color: #111 !important;
}

.tabs li a {
	color: #5f27cd;
	border-color: #5f27cd !important;
}

.tabs a:hover {
	color: #5f27cd;
	border-color: #5f27cd !important;
	background-color: #fff;
}

.tabs, .is-active a {
	color: #101010 !important;
	border-color: #101010 !important;
}

.heart {
	color: #e25555;
}

.card {
	position: relative;
	display: block;
	transition: all 0.15s;
	background: #fff;
	border-radius: 1px;
}

.card:active,.card:focus,.card:hover {
	text-decoration: none;
	-webkit-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
}

/* Card start*/
.card {
	overflow: hidden;
}

.card.large {
	height: 600px;
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
	border-radius: 5px;
}
/* Card end */
.media-content {
	overflow: hidden;
}

  /* search form start here */

.search-p {
	margin: auto;
}

.search-p {
	box-sizing: border-box;
	width: 100%;
	max-width: 640px;
}

.has-text-centered {
	text-align: center;
}

.has-text-left {
	text-align: left;
}

.has-text-right {
	text-align: right;
}

.r-text-field {
	--uiTextFieldPlaceholderColor: var(--textFieldPlaceholderColor);
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
}

.r-text-field::-webkit-input-placeholder {
	color: var(--uiTextFieldPlaceholderColor);
}

.r-text-field::-moz-placeholder {
	opacity: 1;
	color: var(--uiTextFieldPlaceholderColor);
}

.r-text-field:invalid {
	outline: none;
	box-shadow: none;
}

.r-button {
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

.r-button::-moz-focus-inner,
  .r-button[type="button"]::-moz-focus-inner,
  .r-button[type="reset"]::-moz-focus-inner,
  .r-button[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

.a-field {
	--uiaFieldHeight: var(--aFieldHeight);
	--uiaFieldHintFinalCoordinate: var(--aFieldHintFinalCoordinate, var(--uiaFieldHeight));
	--uiaFieldPaddingLeft: var(--aFieldPaddingLeft);
	position: relative;
	padding-top: calc(var(--uiaFieldHintFinalCoordinate) - var(--uiaFieldHeight));
 /* 1, 2 */
	;
}

.a-field__input {
	box-sizing: border-box;
	height: var(--uiaFieldHeight);
 /* 1 */
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--uiaFieldPaddingLeft);
 /* 3 */
	;
}

.a-field__input::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
}

.a-field__input::-moz-placeholder {
	opacity: 0;
}

.a-field__input:focus::-webkit-input-placeholder {
	opacity: 1;
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.a-field__input:focus::-moz-placeholder {
	opacity: 1;
}

.a-field__label-wrap {
	box-sizing: border-box;
	width: 100%;
	height: var(--uiaFieldHeight);
	/* 1 */
	pointer-events: none;
	cursor: text;
	position: absolute;
	bottom: 0;
	left: 0;
}

.a-field__label {
	position: absolute;
	left: var(--uiaFieldPaddingLeft);
 /* 3 */
	bottom: calc(50% - .5em);
	line-height: 1;
	pointer-events: none;
}

@supports (-webkit-appearance: none) {
    
	.a-field__label {
		-webkit-transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
		transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
		will-change: bottom, opacity;
	}
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
	opacity: 0;
	bottom: 85%;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label {
	opacity: 1;
	bottom: var(--uiaFieldHintFinalCoordinate);
 /* 2 */
	;
}

.search {
	--searchFieldHeight: 80px;
	--searchButtonSize: var(--searchFieldHeight);
	--textFieldPlaceholderColor: #5f27cd;
	--aFieldHeight: var(--searchFieldHeight);
    /* The 10px value has been calculated for this demo and you can change it */
	--aFieldHintFinalCoordinate: calc(var(--searchFieldHeight) + 10px);
	--aFieldPaddingLeft: 30px;
	color: #5f27cd;
	position: relative;
}

.search__input {
	width: 100%;
	border-width: 3px;
	border-color: currentColor;
	border-radius: 55px;
	background-color: transparent;
	font-size: 18px;
	color: currentColor;
}

.search__input:focus {
	outline: none;
	background-color: transparent;
}

.search__hint {
	font-size: 16px;
}

.search__button {
	color: currentColor;
}

.search__button:focus {
	outline: none;
}

.search__clear {
	width: 1em;
	height: 1em;
	font-size: var(--searchButtonSize);
	position: absolute;
	bottom: 0;
	display: none;
}

.search__input:not(:placeholder-shown) ~ .search__clear {
	display: block;
}

.search__clear:focus ~ .a-field__label-wrap .a-field__label {
	opacity: 1;
	bottom: var(--aFieldHintFinalCoordinate);
}

.search__clear-label {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
}

.search__icon {
	fill: currentColor;
	display: block;
	box-sizing: border-box;
	border: 0px !important;
	width: 1.5em;
	height: 1.5em;
	padding: .25em;
	position: absolute;
	top: calc(50% - .75em);
	left: calc(50% - .75em);
}

.search__button:focus .search__icon {
	border: 0px !important;
}

.search__icon-clear {
	font-size: 26px;
	margin-left: 30px !important;
	border: 0px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 3px solid #5f27cd;
	-webkit-text-fill-color: 101010;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}


/* search form end here */

/* Dark Mode */
.dark {
	background-color: #121212 !important;
	color: #e5e5e5;
	height: 100vh;
}

.dark .hero {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .hero-body {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .container {
	background: transparent !important;
	color: #e5e5e5;
}

.dark .section {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .title {
	color: #e5e5e5;
}

.dark .burger {
	color: #e5e5e5 !important;
}

.dark .navbar-menu {
	background-color: #1d1d1d !important;
	color: #e5e5e5 !important;
}
.dark .card {
	background-color: #1d1d1d;
	color: #e5e5e5;
}

.dark strong {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .tabs span {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding-top: -13px !important;
	border-color: #fff !important;
}

.dark .is-white {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .is-dark {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .is-success {
	background-color: #5f27cd;
	color: #e5e5e5;
}

.dark .is-success:hover {
	background-color: #5f27cd;
	color: #e5e5e5;
}

.dark .light-logo, .dark .bold-logo, .dark .hash-icon {
	color: #e5e5e5 !important;
}

.dark .tabs {
	color: #e5e5e5;
	border-color: #e5e5e5 !important;
}

.dark .tabs li a {
	color: #e5e5e5;
	border-color: #282828 !important;
}

.dark .tabs ul {
	color: #e5e5e5;
	border-color: #282828 !important;
}

.dark .tabs a:hover {
	color: #e5e5e5;
	border-color: #282828 !important;
	background-color: #282828;
}

.dark .tabs, .is-active a {
	color: #e5e5e5 !important;
	border-color: #282828 !important;
}

.dark .search {
	--searchFieldHeight: 80px;
	--searchButtonSize: var(--searchFieldHeight);
	--textFieldPlaceholderColor: #e5e5e5;
	--aFieldHeight: var(--searchFieldHeight);
    /* The 10px value has been calculated for this demo and you can change it */
	--aFieldHintFinalCoordinate: calc(var(--searchFieldHeight) + 10px);
	--aFieldPaddingLeft: 30px;
	color: #e5e5e5;
	position: relative;
}

.dark  .scroll-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	text-decoration: none;
	color: #fff;
	background: #5f27cd;
	padding: 10px 15px;
	display: none;
}

.dark .scroll-top:hover {
	opacity: 6;
	color: #fff;
	/* background-color: rgba(95, 49, 202, 0.5);  */
	background: #5f27cd;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
	border: 3px solid #e5e5e5;
	-webkit-text-fill-color: #e5e5e5;
	-webkit-box-shadow: 0 0 0px 1000px #121212 inset;
	transition: background-color 5000s ease-in-out 0s;
}

.dark .section {
	background-color: #121212;
	color: #e5e5e5;
}

.dark .navbar {
	background-color: #1d1d1d !important;
	color: #e5e5e5 !important;
	border-bottom: solid 1px #282828 !important;
}



.dark .footer {
	background-color: #121212 !important;
	color: #e5e5e5 !important;
	border-bottom: solid 1px #282828 !important;
}

.dark li a {
	color: #e5e5e5;
}

.dark li a:hover {
	background-color: #1d1d1d !important;
}
  
  /* Styling the Switch button */
.switch {
	margin-top: 27px;
	position: relative;
	display: inline-block;
	width: 55px;
	height: 28px;
}

.sunny-icon {
	font-size: 24px !important;
	margin: 29px 8px 0 8px;
	position: relative;
	display: inline-block;
}

.moon-icon {
	font-size: 18px !important;
	margin: 31px 10px 0 8px;
	position: relative;
	display: inline-block;
}

  
  /* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
  
  /* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white !important;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #5f27cd !important;
}

input:focus + .slider {
	box-shadow: 0 0 1px #5f27cd !important;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.scroll-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	text-decoration: none;
	color: #fff;
	background: #111111;
	padding: 10px 15px;
	display: none;
}

.scroll-top:hover {
	opacity: 6;
	color: #fff;
	/* background-color: rgba(95, 49, 202, 0.5);  */
	background: #222222;
}


@media screen and (min-width: 1023px){
	.navbar-brand {
		position: absolute;
		left: 47%;
		text-align: center;
	}

	.navbar>.container .navbar-brand, 
    .navbar>.container-fluid .navbar-brand {
		margin-left: -80px;
	}
	
	.navbar-center{
			display:flex;
		justify-content: stretch;
		align-items: stretch;
		flex-grow: 1;
		flex-shrink: 0;
		flex-direction: row;
	}
	.navbar-link,.navbar-item{
	  align-items: center;
	  display: flex;
	  flex-basis: auto;
	  flex-grow: 1;
	  flex-shrink: 0;
	  justify-content: center;
	}
		.navbar-dropdown .navbar-item{
			justify-content:left;
		}
		
		
	 
	}


@media (min-width: 641px) {
  
	.search__input {
		padding-right: 115px;
	}

	.search__clear {
		right: var(--searchButtonSize);
	}

	.search__submit {
		width: 1em;
		height: 1em;
		font-size: var(--searchButtonSize);
		position: absolute;
		bottom: 0;
		right: 10px;
	}

	.search__submit-label {
		position: absolute;
		clip: rect(0 0 0 0);
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	.search__icon-search {
		font-size: 22px;
	}  
	
	
}

@media (max-width: 640px) {
  
	.search__input {
		padding-right: 50px;
	}

	.search__clear {
		right: 10px;
	}

	.search__submit {
		display: block;
		width: 100%;
		padding: 12px 15px;
		background-color: #5f27cd;
		text-transform: uppercase;
		color: #fff;
		border-radius: 25px;
		margin-top: 25px;
	}

	.search__submit:focus {
		box-shadow: 0 0 0 3px currentColor;
		color: #fff;
	}

	.search__icon {
		display: none !important;
	}

	.search__icon-clear {
		display: none !important;
	}
}
